/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #dfe6e9;
  --color-navy: #2c3e50;
  --color-gray: #bdc3c7;
  --color-dark-gray: #7f8c8d;
  --color-ivory: #eee;
  --color-light-black: #222227;
  --color-blue: #273c75;
  --color-black: black;

  /* Font Size */
  --font-super: 72px;
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 15px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-semi-border-radius: 7px;
  --size-large-border-radius: 15px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  cursor: default;
  color: var(--color-light-white);
  background-color: var(--color-navy);
  background: url("images/1.jpg") center/cover no-repeat;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

.all-box {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 100vh;
  margin-top: 40px;
}

.js-greetings {
  margin-bottom: 12px;
}

/* To Do List */

.clock {
  padding-top: 60px;
  color: #dfe6e9;
  transition: color 0.5s ease-in-out;
  font-size: var(--font-super);
}

.js-form {
  width: 550px;
  padding: 10px 10px;
  border-radius: var(--size-large-border-radius);
  background-color: var(--color-gray);
  margin-bottom: 15px;
}

.formSection {
  width: 550px;
  height: 400px;
  padding: 10px 10px;
  border-radius: var(--size-large-border-radius);
  background-color: var(--color-gray);
  overflow: auto;
}

.formSection::-webkit-scrollbar {
  width: 7px;
  background-color: none;
}

.formSection::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: white;
  border-radius: 7px;
}

.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  padding-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  width: 520px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-style: none;
  border-bottom: 2px solid black;
  font-size: var(--font-medium);
  background-color: transparent;
}

input::placeholder {
  color: var(--color-light-white);
}

.vBtn {
  all: unset;
  cursor: pointer;
}

.checkedList {
  text-decoration: line-through;
  color: var(--color-dark-gray);
}

li {
  list-style: none;
  font-size: var(--font-medium);
  animation: fadeIn 0.5s linear;
}

button {
  cursor: pointer;
}

/* 달력 */

.calendar {
  width: 34rem;
  height: 44rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 7rem;
  background-color: #273c75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 1.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(33rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1rem;
  margin: 0.1rem;
  width: calc(32rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #273c75;
}

.box {
  position: relative;
  visibility: visible;
  padding-left: 10px;
  margin-left: 34px;
}

.fa-angle-left {
  margin-left: 30px;
}

.fa-angle-right {
  margin-right: 30px;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  :root {
    --font-super: 72px;
    --font-large: 40px;
    --font-medium: 32px;
    --font-regular: 20px;
    --font-small: 15px;
    --font-micro: 12px;
  }

  .all-box {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .clock {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .js-greetings {
    font-size: var(--font-large);
    margin-top: 5px;
  }

  .calendar {
    margin-top: 10px;
  }

  body {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  body {
    margin-top: 0px;
  }
  .all-box {
    margin-top: 0px;
  }

  .container {
    width: 50%;
    height: 50vh;
    top: 15px;
    left: 245px;
  }

  .calendar {
    width: 19rem;
    height: 27rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }

  .month {
    width: 100%;
    height: 4rem;
  }

  .month i {
    font-size: 0.7rem;
  }

  .month h1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  .month p {
    font-size: 0.8rem;
  }

  .weekdays {
    height: 3rem;
  }

  .weekdays div {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(18rem / 7);
  }

  .days div {
    font-size: 1rem;
    margin: 0.1rem;
    width: calc(17rem / 7);
    height: 3rem;
  }

  .box {
    padding-left: 10px;
    margin-left: 262px;
    right: 320px;
    top: 360px;
  }

  .js-form {
    width: 275px;
    padding: 8px 10px;
    margin-bottom: 15px;
  }

  .formSection {
    padding: 8px 10px;
    width: 275px;
    height: 200px;
  }

  .formSection::-webkit-scrollbar {
    width: 4px;
  }

  .formSection::-webkit-scrollbar-thumb {
    width: 4px;
  }

  .clock {
    padding: 30px 0 7px 0;
    font-size: 35px;
  }

  input {
    width: 255px;
    height: 20px;
    font-size: 15px;
  }

  li {
    padding-top: 3px;
    font-size: 15px;
  }

  .js-greetings {
    font-size: 25px;
    margin-bottom: 2px;
  }
}
